<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controls.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controls.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateperRecord</servlet-name>
        <servlet-class>controls.CreateperRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatepersonal</servlet-name>
        <servlet-class>controls.updatepersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatecard</servlet-name>
        <servlet-class>controls.updatecard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateManager</servlet-name>
        <servlet-class>controls.CreateManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilecus</servlet-name>
        <servlet-class>controls.profilecus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileaga</servlet-name>
        <servlet-class>controls.profileaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aprofilecenter</servlet-name>
        <servlet-class>controls.Aprofilecenter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cusprofilecenter</servlet-name>
        <servlet-class>controls.Cusprofilecenter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateperRecord</servlet-name>
        <url-pattern>/CreateperRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatepersonal</servlet-name>
        <url-pattern>/updatepersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatecard</servlet-name>
        <url-pattern>/updatecard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateManager</servlet-name>
        <url-pattern>/CreateManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilecus</servlet-name>
        <url-pattern>/profilecus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileaga</servlet-name>
        <url-pattern>/profileaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aprofilecenter</servlet-name>
        <url-pattern>/Aprofilecenter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cusprofilecenter</servlet-name>
        <url-pattern>/Cusprofilecenter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
